<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <h1>Editing job</h1>

        <%= render 'form' %>

        <%= link_to '显示', admin_job_path(@job) %> |
        <%= link_to '后退', admin_jobs_path %>
    </div>
</div>
