<div class="main">
	<!-- about S -->
	<div class="about_map">
		<div class="hd">
			<h2>Digital mind Innovation partners</h2>
		</div>
		<div class="bd">
			<div class="about_inf">
				<div class="a_inf_box digital_inf">
					<div class="a_hd">
						<h3>数字化心智</h3>
					</div>
					<div class="a_bd">
						<p>M点3为客户提供所有与数字化相关的营销服务（Online Marketing），并坚持以结果为导向，追求客户营销投入的最大化效果。</p>
						<p>服务包括：品牌策略、品牌形象设计及升级、网络互动活动、数字化媒体购买与监测、网络公关与消费者口碑管理、社会化媒体运营、事件营销、移动互联网产品研发、消费者大数据报告等。</p>
                                                <a class="goto" target="_blank" href="<%= about_content_path(@about_contents.first) %>" title="点击进入">点击进入<i></i></a>
					</div>
				</div>
				<div class="a_inf_topic">
					<p>互联网再不仅仅是与消费者进行沟通的平台和工具，数字化已经成为消费者的生活方式，像空气一样重要、无所不在。</p>
					<p>数字化变革意味着，所有工业时代形成的模式、产业链必须改变，因为消费者对于数字化的运用远远超前于各行各业。</p>
				</div>
				<div class="a_inf_box innov_inf">
					<div class="a_hd">
						<h3>创新合作者</h3>
					</div>
					<div class="a_bd">
						<p>M点3的价值在于对变化中的介质和消费者的理解，我们的服务不仅是广告和沟通，更致力于帮助企业在变革时代驱动创新，包括产品创新、服务创新、模式创新，将合作突破到实体、体验的范畴，从而成为企业真正的创新合作者（Innovation Partner）。</p>
						<p>我们为所有的服务与产品注入数字化心智（Digital Mind），包括：产品设计、空间装置、商业地产及零售行业O2O、系统及产业链设计、社区及空间运营、创新战略及商业化模式等。</p>
						<a class="goto" target="_blank" href="#nogo" title="点击进入">点击进入<i></i></a>
					</div>
				</div>
				<i class="sj sjt"></i>
				<i class="sj sjb"></i>
			</div>
			<div class="mission">
				<h3>Social Mission社会使命感</h3>
				<p>M点3还是一切创新的支持者，搭建品牌孵化与营销扶持的创意合作平台，帮助社会企业和公益组织影响更多人群，创造更大的社会关注与投入。</p>
				<p><span>合作伙伴：</span><a href="#nogo" target="_blank" title="乐岛图书馆">乐岛图书馆</a>／<a href="#nogo" target="_blank" title="荒岛图书馆">荒岛图书馆</a>、<a href="#nogo" target="_blank" title="WABC无障碍艺途">WABC无障碍艺途</a>、<a href="#nogo" target="_blank" title="上海农好农夫市集">上海农好农夫市集</a></p>
			</div>
		</div>
	</div>
	<!-- about E -->
</div>
