<div class="main">
	<!-- about S -->
	<div class="about_detail">
		<div class="ours_idea">
                        <%= image_tag image_path("about_bg5.jpg"), width:"852", height:"310", alt:""%>
			<div class="idea_text idea1">
				<h3>我们有以下数据来源</h3>
				<ul class="idea_txt_list">
				  <li><i></i>定期市场调研及数据库更新</li>
				  <li><i></i>梅花网消费者数据</li>
				  <li><i></i>艾瑞网消费者网络行为数据</li>
				  <li><i></i>基于超过百万网络cookie tracking，<br/>分析消费者行为</li>
				</ul>
				<h3>除此之外，更重视消费者思维模式洞察</h3>
				<ul class="idea_txt_list">
				  <li><i></i>新媒体对消费者思维模式影响</li>
				  <li><i></i>85后－90后青年思维模式图</li>
				  <li><i></i>购买渠道变革带来购买思维变革</li>
				</ul>				
			</div>
			<div class="idea_text idea2">
				<h3>我们熟悉各类新接触点</h3>
				<ul class="idea_txt_list">
				  <li><i></i>PC端入口带来页面浏览行为和方式变革</li>
				  <li><i></i>互动平台接触的有效性</li>
				  <li><i></i>移动互联网带来的突破性变革</li>
				  <li><i></i>自媒体对于品牌与消费者的接触改变</li>
				</ul>
				<h3>更关注研究接触关系</h3>
				<ul class="idea_txt_list">
				  <li><i></i>视频类媒体与电视TVC形成的接触关系网</li>
				  <li><i></i>互动接触的多频次与多纬度形成的接触关系</li>
				  <li><i></i>移动端与PC端形成的接触关系</li>
				  <li><i></i>线上与线下多纬度接触的影响</li>
				</ul>				
			</div>
			<div class="idea_text idea3">
				<h3>线上线下资源整合<br/>传统与新媒体思维整合</h3>
				<ul class="idea_txt_list">
				  <li><i></i>产品包装、路演发布会与线上自媒体资源整合</li>
				  <li><i></i>传统电视报纸杂志等，与新媒体资源整合</li>
				  <li><i></i>Campaign推广形成资源整合合力</li>
				</ul>
				<h3>传播策略突破常规</h3>
				<ul class="idea_txt_list">
				  <li><i></i>结合消费者洞察与接触点变革，策略需要大突破</li>
				  <li><i></i>以网络数据为先锋的数字化监测及电商导向，成为策略重要考虑范畴</li>
				</ul>				
			</div>
		</div>
		<div class="about_serv">
			<div class="idea_text serv1">
				<h3>互联网整合营销服务</h3>
				<ul class="idea_txt_list">
				  <li><i></i>互联网整合营销推广策略</li>
				  <li><i></i>互联网品牌营销大创意</li>
				  <li><i></i>互联网人群行为分析</li>
				  <li><i></i>互联网新动向新形势研究</li>
				</ul>				
			</div>
			<div class="idea_text serv2">
				<h3>互联网媒介投放服务</h3>
				<ul class="idea_txt_list">
				  <li><i></i>媒体行业观察</li>
				  <li><i></i>媒介计划</li>
				  <li><i></i>媒介购买</li>
				  <li><i></i>投放监测与报告</li>
				</ul>				
			</div>
			<div class="idea_text serv3">
				<h3>O2O整合营销服务</h3>
				<ul class="idea_txt_list">
				  <li><i></i>移动/web APP项目开发</li>
				  <li><i></i>空间数字化装置设计</li>
				  <li><i></i>移动端与线下活动支持</li>
				  <li><i></i>O2O大数据管理</li>
				</ul>				
			</div>
			<div class="idea_text serv4">
				<h3>社会化媒体营销服务</h3>
				<ul class="idea_txt_list">
				  <li><i></i>社会化媒体运营</li>
				  <li><i></i>社会化媒体创意营销</li>
				  <li><i></i>社会化平台功能开发</li>
				  <li><i></i>网络舆情监控与追踪</li>
				</ul>				
			</div>
			<div class="idea_text serv5">
				<h3>创意设计服务</h3>
				<ul class="idea_txt_list">
				  <li><i></i>互联网网站创意设计</li>
				  <li><i></i>品牌TVC/创意微视频拍摄</li>
				  <li><i></i>Flash动画、AR等</li>
				  <li><i></i>移动端创意互动设计</li>
				</ul>				
			</div>
			<div class="idea_text serv6">
				<h3>互联网技术开发</h3>
				<ul class="idea_txt_list">
				  <li><i></i>互动网站建设开发</li>
				  <li><i></i>互动软件/技术开发</li>
				  <li><i></i>数据维护及安全</li>
				  <li><i></i>SEO/SEM</li>
				</ul>				
			</div>			
		</div>
	</div>
	<!-- about E -->
</div>
