<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <h1>edit about_contents</h1>
        <%= render 'form' %>
    </div>
    <%= link_to 'åé€€', admin_about_contents_path, class: "btn btn-default" %>
</div>
